openapi: 3.0.3
info:
  title: THE (Teach Honor Excel) API
  description: API for a tutor agency website providing login, signup, profile, and tutoring functionalities for tutors and users.
  version: 1.0.0
servers:
  - url: https://api.teachhonorexcel.com/v1
tags:
  - name: auth
    description: Authentication operations
  - name: me
    description: Operations related to the authenticated user
  - name: user
    description: User-specific operations (not related to authorization)
  - name: chat
    description: endpoints for the live chat feature between users and tutors
  - name: tutor
    description: Tutor-specific operations
  - name: assignment
    description: Assignment-specific operations
  - name: assignment-request
    description: Assignment request operations
  - name: payment
    description: Payment operations
  - name: course
    description: Course-specific operations
  - name: reviews
    description: Course reviews operations
  - name: onboarding
    description: Onboarding process operations

paths:
  /api/auth/login:
    $ref: './api/auth/login.yaml'
  /api/auth/signup:
    $ref: './api/auth/signup.yaml'
  /api/auth/forget-password:
    $ref: './api/auth/forgot-password.yaml'
  /api/auth/reset-password:
    $ref: './api/auth/reset-password.yaml'
  /api/auth/logout:
    $ref: './api/auth/logout.yaml'
  /api/auth/refresh:
    $ref: './api/auth/refresh.yaml'
  /api/me/upload-profile-photo:  # Uploads a profile photo. User authorization required
    $ref: './api/me/upload-profile-photo.yaml'
  /api/user/{user-id}/:  # Retireves user profile information (name, profile photo url, etc.)
    $ref: './api/user/{user-id}.yaml'
  /api/me/created-assignments:  # for parents/clients to see created assignments
    $ref: './api/me/created-assignments.yaml'
  /api/me/applied-assignments:  # for tutors to see assignments they are assigned to or pending
    $ref: './api/me/applied-assignments.yaml'
  /api/me:  # for tutors to see assignments they are assigned to or pending
    $ref: './api/me.yaml'
  /api/chats:
    $ref: './api/chats.yaml'
  /ws/chat:
    $ref: './ws/chat.yaml'
  /api/chat/get-or-create:
    $ref: ./api/chat/get-or-create.yaml
  /api/chat/{id}:
    $ref: ./api/chat/{id}.yaml
  /api/tutors:
    $ref: './api/tutors.yaml'
  /api/tutors/new:
    $ref: './api/tutors/new.yaml'
  /api/tutors/{id}:
    $ref: './api/tutors/{id}.yaml'
  /api/assignments:
    $ref: './api/assignments.yaml'
  /api/assignments/new:
    $ref: './api/assignments/new.yaml'
  /api/assignments/{id}:
    $ref: './api/assignments/{id}.yaml'
  /api/assignment-requests/new:
    $ref: './api/assignment-requests/new.yaml'
  /api/assignment-requests/{id}:
    $ref: './api/assignment-requests/{id}.yaml'
  /api/assignment-requests/{id}/change-status:
    $ref: './api/assignment-requests/{id}/change-status.yaml'
  /api/payment/create-checkout-session:
    $ref: './api/payment/create-checkout-session.yaml'
  /api/courses:
    $ref: './api/courses.yaml'
  /api/courses/{course-id}:
    $ref: './api/courses/{course-id}.yaml'
  /api/courses/{course-id}/{module-id}:
    $ref: './api/courses/{course-id}/{module-id}.yaml'
  /api/nus-course-reviews:
    $ref: './api/nus-course-reviews.yaml'
  /api/nus-course-reviews/{nus-course-id}:
    $ref: './api/nus-course-reviews/{nus-course-id}.yaml'
  /api/auth/verify/phone/send:
    $ref: './api/auth/verify/phone/send.yaml'
  /api/auth/verify/phone/confirm:
    $ref: './api/auth/verify/phone/confirm.yaml'
  /api/onboarding/university/verify:
    $ref: './api/onboarding/university/verify.yaml'
  /api/onboarding/university/confirm:
    $ref: './api/onboarding/university/confirm.yaml'
  /api/onboarding/documents/upload:
    $ref: './api/onboarding/documents-upload.yaml'
  /api/onboarding/status:
    $ref: './api/onboarding/status.yaml'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    $ref: './api/common.yaml#/components/schemas'
